</div><!--/.wrapper-->


<footer class="site-footer">

  <div class="wrapper">

    <h4 class="footer-heading">{{ site.title }}</h4>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>&copy; 2014-{{ site.time | date: "%Y" }}</li>
          <li> mail // <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            twitter // <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <!-- <p class="text">{{ site.description }}</p> -->
      </div>
    </div>

  </div>

</footer>
